* {
		   margin:0;
		   padding:0;
		}
section {
	text-align:center;
	padding-top:100px;
	margin:auto;
}
#head {
	border-radius:20px 20px 0 0;
	background-color:blue;
	color:white;
	margin-left:500px;
	margin-right:500px;
	padding:30px 50px 30px 50px;
}
#body p{
	padding-top:20px;
}
#fotter button {
	background-color:blue;
	color:white;
	padding:20px 80px;
	margin-left:500px;
	margin-right:500px;
	margin-top:20px;
	border:1px solid blue;
	border-radius:10px;
}
.spansize {
	font-size:50px;
	font-weight:bold;
	color:blue;
	
}
.para1{
	color:rgb(196, 195, 190);
}
